@media (min-width: 1280px) {
	#course-name::after {
		content: " - CS50's Web Programming with Python and JavaScript";
	}
}
			
@media (max-width: 1280px) {
    #course-name::after {
        content: " - CS50 ";
    }
}

@media (min-width: 500px) {
    #mainpage-name::after {
        content: " Online Study Platform";
    }
}

@media (max-width: 530px) {
    .col-3{
        display: none;
    }
	.col-9{
		width: @col-12;
	}
}